.admin-page {
	margin: 15px;
	font-family: arial,sans-serif;
	font-size:15px;
	background: #e6e6e6;
	border:1px solid gray;
}

.admin-menu {
	text-align:center;
	border-bottom:1px solid gray;
	padding:5px;
}

.admin-menu-entry {
	display: inline-block;
	border: 1px solid gray;
	text-transform:uppercase;
	border-radius: 5px;
	height:25px;
	line-height: 25px;
	padding: 0 10px;
	cursor: pointer;
}

.admin-menu-entry:hover, 
.admin-menu-entry-selected {
	background: white;
	border: 1px solid black;
}

.admin-panel-title {
	margin:25px;
	height:35px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.admin-panel-warning {
	margin:2px;
	color:red;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.admin-panel-content {
	margin: 20px;
	padding: 20px 0;
	border : 2px solid black;
	border-radius:20px;
	text-align: center;
}

.admin-input-file {
	color:black;
	background:grey;
	border:5px;
	border-radius:5px 0px 0px 5px;
	font-size:1em;
	padding:6px 20px;
	margin:0px;
	cursor:pointer;
	margin-right:2px;
}

.admin-input-file-valued {
	color:white;
	background:black;
}

.admin-input-file-button {
	color:black;
	background:grey;
	border:5px;
	border-radius:0px 5px 5px 0px;
	font-size:1em;
	padding:6px 20px;
	margin:0px;
	cursor:pointer;
}

.admin-input-file-button-enabled {
	color:white;
	background:black;
}

.admin-button {
	color:white;
	background:black;
	border:5px;
	border-radius:5px;
	font-size:1em;
	padding:6px 20px;
	cursor:pointer;
}

.admin-button:disabled {
	color:black;
	background:grey;
}

.admin-report {
	text-align:left;
	font-family:monospace;
	margin:2em;
	padding:2em;
	overflow-y: auto;
	max-height: 20em;
	color: white;
	background: black;
}

.admin-report > span {
	overflow-wrap:break-word;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.admin-report > span.OK {
	color: #00FF00;
	font-weight: bold;
}

.admin-report > span.KO {
	color: #FF0000;
	font-weight: bold;
}

.admin-report > span.info {
	color: white;
}

.admin-report > span.error {
	color: red;
}

.admin-report > span.warn {
	color: orange;
}

.admin-report > span.thrown {
	font-weight: bold;
}

.admin-progress {
	border:1px solid;
	color:black;
	margin:2em;
	text-align:left;
}

.admin-progress div {
	height:1em;
	background-color:gray;
	text-align:right;
}

.admin-message {
	color:black;
	margin:2em;
}

.admin-list {
	list-style:none;
	margin:0;
	padding:0;
}

.admin-list li {
	display: inline-block;
	height:30px;
}

.admin-list li.hidden {
	display: none;
}

.admin-list li.header div {
	background: darkgray;
	font-weight: bold;
	padding: 4px 0px 4px 0px;
	margin: 2px;
}

.admin-list li.header div.blank {
	padding:0;
}

.admin-list li div {
	float:left;
	margin: 0px 2px 0px 2px;
	padding:0;
}

.admin-list li div.secure,
.admin-list li div.select,
.admin-list li div.disabled {
	margin-top:8px;
	background:#e6e6e6;
}

.admin-list li div input,
.admin-list li div select {
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
    height: 2em;
	font-size:1em;
	color:black;
	background:white;
	border:1px solid gray;
	border-radius: 3px;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

.admin-list li div input.ip {
	width:21%;
}

.admin-list li div.blank,
.admin-list li div.delete,
.admin-list li div.update,
.admin-list li div.create,
.admin-list li div.profile,
.admin-list li div.counter,
.admin-list li div.publish,
.admin-list li div.add,
.admin-list li div.remove {
	width:30px;
	padding-top:8px;
	font-size:1em;
	color:lightgrey;
}

.admin-list li div.add {
	padding-top:4px;	
}

.admin-list li div.profile:hover,
.admin-list li div.counter:hover,
.admin-list li div.publish:hover {
	color:black;
}

.admin-list li div.delete:hover,
.admin-list li div.remove:hover {
	color:red;
}

.admin-list li div.update:hover {
	color:green;
}

.admin-list li div.create:hover,
.admin-list li div.add:hover {
	color:blue;
}

.admin-table {
	width: 90% !important;
	margin: 20px;
}

.admin-table th {
	font-weight: bold;
	background: darkgray;
}

.admin-table th,
.admin-table td {
	color: black;
	padding: 4px 2px 4px 2px;
	margin: 2px;
	border-radius: 0px !important;
	font-size:15px !important;
	font-family: arial,sans-serif;
}

#context.admin-list {
	width: 610px;
}

#urls.admin-list {
	width: 676px;
}

#account.admin-list {
	width: 778px;
}

#roles.admin-list {
	width: 730px;
}

#ips.admin-list {
	width: 736px;
}

#expand-list {
	cursor: pointer;
}

#import-notify {
	line-height: 1 !important;
}
