body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #161616;
	font-size: 15px;
	margin:0;
	padding:0;
}


::-moz-selection { /* Code for Firefox */
	background: #c7dffc ! important;
}

::selection {
	background: #c7dffc ! important;
}

[data-tooltip]:after {
	text-transform: initial;
	background: white;
	color: #6C747F;
	padding: 5px;
	border-radius: 10px;
	font-size: 12px;
	font-family:sans-serif;
	line-height: 16px;
	width: 140px;
	bottom: 140%;
	left: 50%;
	margin-left: -75px;
	text-align: center;
	-webkit-transition: visibility 0s linear .8s;
	transition: visibility 0s linear .8s;
	box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.3);
}

form.account  {
	color: white ! important;
	background: #6E97CB ! important;
	font-size: 0.9em;
}

input.account[type="submit"] {
	position: relative;
	font-size: 0.9em;
	color: white;
	text-transform: uppercase;
	background: #6E97CB;
	border: 0;
	padding: 1px 12px;
	border-radius: 3px;
	cursor: pointer;
}

#message {
	text-align: center;
	background: white;
}

.warning {
	color: #C03938;
}

.pullout {
	position: fixed;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	background:#f4f4f4;
	z-index:10000;
	transition: width .3s;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	-ms-transition: width .3s;
	border-right: 1px solid rgb(187, 184, 184);
	font-size: 0.8em;
}

.pullout .top {
	display: none;
	float: left;
}

.pullout .content {
	display: none;
	overflow: auto;
	float: left;
}

.pullout .handle {
	position: fixed;
	font-size: 25px;
	float: right;
	height: 100%;
	width: 30px;
	left: 0;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
	transition: left .3s;
	-webkit-transition: left .3s;
	-moz-transition: left .3s;
	-ms-transition: left .3s;
}

.pullout .handle span {
	color: white;
	position: relative;
	background: #C0392B;
	display: inherit;
	height: 25px;
	width: 25px;
	border-radius: 25px;
	margin-left: 15px;
	border: 3px solid white;
	line-height: 22px;
	top: 50%;
}

.pullout.show {
	width: 450px;
	width: -webkit-calc(50% - 0px);
	width: -moz-calc(50% - 0px);
	width: calc(50% - 0px);
}

.pullout.show .top, .pullout.show .content {
	width: 420px;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	display:block;
}

.pullout.show .handle {
	left: 420px;
	left: -webkit-calc(50% - 30px);
	left: -moz-calc(50% - 30px);
	left: calc(50% - 30px);
}

/* --------------------------------- Error --------------------------------- */
#error {
	text-align:center;
	font-size:2em;
	font-family:sans;
	color:steelblue;
	background:white;
}

/* --------------------------------- Header --------------------------------- */
#header {
	font-size: 15px;
	height: 71px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.blocklink {
	position: relative;
	height: 89px;
	width: 855px;
	margin: auto;
}

.vendorlink {
	width: 307px;
	height: 71px;
	display: block;
	float:left;
}

.contextlink {
    color: black;
    float: right;
    height: 71px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
}

.contextlink > div {
	display: table-cell;
	vertical-align: middle;
    border: none;
    height: 71px;
}

.vendorlink img, .contextlink img {
	height: 71px;
    border: none;
    display: block;
}

#accessProvidedBy {
	border-style: solid;
	border-color: white;
	border-width: 3px 10px;
	height: 65px;
	font-size: 12px;
}

#accessProvidedBy > div {
	color: #6C757E;
	background-image: linear-gradient(#ff8043, #ff8043),
                      linear-gradient(#ff8043, #ff8043),
                      linear-gradient(#ff8043, #ff8043),
                      linear-gradient(#ff8043, #ff8043);
	background-repeat: no-repeat;
	background-size: 3px 3px;
	background-position: top left, top right, bottom left, bottom right;
	border: solid #ff8043;
	border-width: 0 3px;
	padding: 0 10px;
	max-width: 150px;
}

/* ------------------------------- Navigation ------------------------------- */
#navbar {
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10000;
	background: #6C757E;
	/*border-bottom: 5px solid gainsboro;*/
	/*border-top: 1px solid gainsboro;*/
	height: 35px;
	font-size:0.9em;
	font-style:sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#navcontent {
	height: 55px;
}

#navbar ul {
	margin: 0;
	padding:0;
	font-size: 0.9em;
	height: 53px;
}

#navbar li {
	display:inline-block;
	text-transform: uppercase;
	position: relative;
	top:-9px;
	margin:18px 5px;
}

#navbar li.inactive {
	display: none;
}

#navbar select {
	color:#FFFFFF;
	border:none;
	background:#6C757E;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	font-size:1em;
	font-style:sans-serif;
    width: 100%;
}

#navbar li a,
#navbar li span {
	color:white;
	text-decoration: inherit;
}

#navbar li:hover a,
#navbar li:hover span {
	color:#A3CBFF;
}

#navbar li.bright {
	background: #ff8043;
	font-size: 0.9em;
	padding: 1px 12px;
	border-radius: 3px;
	margin: 18px 5px ! important;
}

#navbar li.bright:hover {
	background: #6E97CB;
}

#navbar li.bright:hover a {
	color: white !important;
}

#navbar li#menu_quotes:before,
#navbar li#menu_quotes:after {
	color: white;
	font-size: 2.2em;
	position: relative;
	left: 0px;
	top: 9px;
	line-height: 0;
	font-family: times;
}

#navbar li#menu_quotes:before {
	content: "“";
}

#navbar li#menu_quotes:after {
	content: "”";
}


#navbar li#menu_quotes:hover:before,
#navbar li#menu_quotes:hover:after {
	color: #A3CBFF;
}

#navbar li#menu_quotes.bright:hover:before,
#navbar li#menu_quotes.bright:hover:after {
	color: white;
}

#navbar li#menu_quick {
	color: white;
}

#navbar li#menu_quick input {
	border: 0;
}

#navbar li#menu_quick i {
	margin-left: 3px;
}

#navbar li#menu_quick > * {
	top: -1px;
	position: relative;
}

#navbar div.sub {
	color: white;
	cursor: pointer;
}

#navbar div.sub:hover {
	color: #A3CBFF;
}

#navbar div.sub ul {
	display: block;
	position: absolute;
	padding-top: 20px;
	width: auto! important;
}

#navbar div.sub ul li {
	display: none;
	margin: 0;
	padding: 5px 10px;
	background: #6C757E;;
	white-space: nowrap;
	text-align: left;
}

#navbar div.sub:hover ul li {
	display: block;
}

#navbar div.sub ul li a,
#navbar div.sub ul li span {
	color: white;
	text-transform: none;
}

#navbar div.sub ul li:hover {
	background: #A3CBFF;
}

#navbar div.sub ul li:hover a,
#navbar div.sub ul li:hover span {
	color: #6C757E;;
}

/* -------------------------------Collections ------------------------------- */
#collections {
	text-align: center;
	width: 850px;
	margin: 0 auto;
	padding: 15px 0 0 0;
	color: #6C757E;
}

#collections ul {
	padding: 0;
	margin: 0;
	display: flex;
}

#collections li {
	display: inline-table;
	padding: 15px;
	cursor: pointer;
	flex: 1 1 0;
}

#collections li .media,
#collections li .title {
	display: block;
}

#collections li .media img {
	display: block;
	max-height: 100px;
	margin: 0 auto;
}

/* --------------------------------- Footer --------------------------------- */
#footer {
	position:relative;
	color: #6C747F;
	height: 25px;
	text-align:center;
	font-size:12px;
	margin:35px 0 20px 0;
}

/* -------------------------------- Account ------------------------------- */
form.account  {
	margin:70px auto;
	text-align:center;
	padding:30px;
}

form.account div.advert {
	margin-bottom: 20px;
}


form.account div.message {
	text-transform: uppercase;
	background: #D6E8FF;
}

form.account label {
	display: inline-block;
	text-align: right;
}

form.account input {
	background:#D6E8FF;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding:5px;
	border:0;
}

form.account input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #9BB7DC inset;
	box-shadow: 0 0 0px 1000px #9BB7DC inset;
}
form.account input:-moz-autofill {
	background: #9BB7DC;
}
form.account input:-o-autofill {
	background: #9BB7DC;
}
form.connection input:-khtml-autofill {
	background: #9BB7DC;
}

form.account input[type='submit'] {
	background:#C0392B;
	color:white;
	margin:10px;
	width:10em;
	height:3em;
	cursor:pointer;
	text-transform: uppercase;
}

form.account input[type='submit']:hover {
	background:#ff8043;
}

form.account div {
	text-align:center;
}

/* --------------------------------- Content --------------------------------- */
#content {
	margin-top: 15px;
}

/* ----------------------------------- Books --------------------------------- */

#shelves {
	text-align: center;
	margin: 10px auto 35px auto;
	width: 855px;
}

#shelves.results {
	width: 1200px;
}

#shelves.popup {
	display: none;
}

#shelves.results div.tabs {
	display: none;
}

#shelves .apart {
	margin: 50px auto;
}

#shelves .apart_title {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}

#shelves .apart_label {
	font-size: 1em;
}

#shelves .apart_count {
	font-size: 0.8em;
}

#shelves .new .apart_title {
	color: #204a87;
}

#shelves .new table th {
	color: #204a87;
	border-bottom: 2px solid #204a87;
}

#shelves .group {
	margin: 10px auto 35px auto;
}

#shelves .panels {
	border-top: 0;
	margin-top: 20px;
}

#shelves .tab {
	width: 180px;
	display: inline-table;
	border-left: 9px solid gainsboro;
	border-bottom: 0;
	text-transform: uppercase;
	height: 37px;
	color: gainsboro;
	font-weight: bold;
	padding: 0px 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: white;
}

#shelves .tabselect .frame_title {
	color: #6C747F;
	cursor: default;
}

#shelves .frame_title {
	margin-top: 9px;
}

#shelves .frame_subtitle {
	font-weight: normal;
	font-size: 0.8em;
	margin-top: 3px;
}

#shelves .frame_books {
	color: #6A747E;
}

#shelves .frame_instances {
	color: #C03938;
}

/* -------------------------------- Counter --------------------------------- */

#counter, #reports {
	width:1000px;
	margin:0px auto;
	text-align:center;
	padding:30px;
}

#reports div.report {
	overflow-x: auto;
	margin-top:20px;
	margin-bottom:60px;
}

/* Content ^article */
#tei {
	padding: 5%;
	margin:0 auto 10px auto;
	line-height:150%;
}

#parts {
	display:flex;
	justify-content:space-between;
}

#queryBlock, #queryTitle {
	margin: 7px;
}

#queryBlock {
	display:flex;
	border: 1px solid gray;
}

#queryInput {
	width: 100%;
	border: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#queryButton {
	background: #D6E8FF;
	height: 15px;
	width: 15px;
	text-align: center;
	padding: 5px;
	flex: none;
	border-left: 1px solid gray;
}

#queryHelp {
	background: #C03938;
	color: white;
	text-decoration: none;
	text-align: center;
	margin-top: 3px;
	border-left: 1px solid gray;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

/* ---------------------------------- Citations ---------------------------------- */
.citation-block {
	border: 1px solid gray;
	margin: 10px;
	padding: 10px;
}

.title {
	margin-bottom: 2px;
}

.page {
	font-size:0.8em;
	margin:0 auto;
}

.citation:before {
	content:"« ";
	color:gray;
}
.citation:after {
	content:" »";
	color:gray;
}

/* ---------------------------------- Pages ---------------------------------- */

.page {
	width:850px;
	margin:auto;
	margin-top:50px;
}

/* ---------------------------------- Import publish -----------------------------------*/

#admin-import-publish {
	width: 300px;
	margin-top: 20px;
}