body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", "sans serif";
	font-size: 1em;
	margin:20px;
	margin-left:40px;
	padding:20px;
}

div[data-rendition="#noepub"] {
	display: none ! important;
}

graphic[data-rendition="logo"] {
	max-width : 200px;
}

a {
	text-decoration: none;
}

a > div.note {
	color:#555753;
	cursor:pointer;
	position:relative;
	top:-0.6em;
	font-size:0.7em;
}

a > div.note:before {
	content: '';
}

/*
div.pb[id]:not([data-rend="temoin"]):before {
	position:absolute;
	left:20px;
	display:inline ! important;
}

div.p > div.pb[id]:not([data-rend="temoin"]):after {
	content:"|";
}
*/
