#toc ul {
	padding-left: 0;
	margin-left: 0;
	list-style-type: none;
}

#toc li {
	padding:2px 0 2px 15px;
	cursor:pointer;
}

#toc li li li {
	border-left: 1px solid lightgray;
}

#toc ul span:hover {
	background:#D6E8FF;
}

#toc .part-select {
	color: #C0392B;
}

#toc li[data-part].active,
#toc li[data-part] span.active {
	background: aliceblue;
	border: 1px solid lightgray;
}

#toc li[data-part] span.active {
	width: calc(100% - 2px);
	display: inline-block;
}

#toc li[data-part].active li[data-part].active {
	border: none;
}
